body {
    background-color: blanchedalmond;
}
.box {
    border: 1px navy solid;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    box-shadow: 5px 5px 1px black;
    border-radius: 5px;
    background-color: seashell;
}
h2 {
    font-size: 1em;
    color: peru;
}
h1 {
    color: navy;
}
